{% extends "base.html" %}
{% block title %} Form 1 {% endblock%}
{% block content %}
{% for key,value in form_data.items() %}
    <h2> {{key}} </h2>
    <p> {{value}} </p>
    {% endfor %}
    <h2>How long it will take</h2>
    <p>{{person.debts['Student debt'].months_to_wipe_out}} months</p>
{% endblock %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for key,value in form_data.items() %}
    <h2> {{key}} </h2>
    <p> {{value}} </p>
    {% endfor %}
</body>
</html>