{% extends "base.html" %}
{% block title %} Home {% endblock%}
{% block content %}
<h1><center> Debt Calculator </center></h1>
        <p> This page is to explain how to use this tool. As you can see from the top of this page,
            it is a form of debt calculator, more specifically you input certain things like your salary
            and the amount that your debt is and so on and this program will tell you how long it will take to
            pay off that debt.
        </p>
<p><a class="btn btn-primary" href="/form1" role="button">Next</a></p>
{% endblock %}

